name: 10-day-ish Reminder

on:
  schedule:
    - cron: '0 0 1,11,21 * *'
  workflow_dispatch: 

permissions:
  issues: write

jobs:
  remind:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: 'コード更新リマインド',
              body: 'PayPayのURLの更新タイミングです。',
            })
